.date-wrap{
		width: 90%;
		margin: 0 auto;
		background-color: #459FD8;
		border-radius: 0.08rem;
		position: relative;
	}
	.slide{
		width: 90%;
		min-height: 160px;
		overflow: hidden;
		position: relative;
		color: #333;
		margin: 0 auto;
	}
	.slide .img{
		overflow: hidden;
		position: absolute;
		border-radius: 5%;
		background-color:#fff;
		transition: width 0.4s,height 0.4s,top 0.4s,left 0.4s,z-index 0.4s;
	}
	.slide .img img{
		width: calc(100% - 14px);
		height: calc(100% - 14px);
		margin: 7px;
	}
	.slide .img1{
		width: 40%;
		height: 40%;
		top: 30%;
		left: -50%;
		z-index: 1;
	}
	.slide .img2{
		width: 60%;
		height: 60%;
		top: 20%;
		left: -20%;
		z-index: 2;
	}
	.slide .img2 h3{
		font-size: 0.4rem;
		color: #333;
		text-align: center;
	}
	.slide .img4 h3{
		font-size: 0.4rem;
		color: #333;
		text-align: center;
	}

	.slide .img2 h5{
		font-size: 0.16rem;
		padding-bottom: 0.08rem;
	}
	.slide .img4 h5{
		font-size: 0.16rem;
		padding-bottom: 0.08rem;
	}

	.slide .img3{
		width: 42%;
		height: 80%;
		top: 10%;
		left: 29%;
		z-index: 3;
	}
	.slide .img4{
		width: 60%;
		height: 60%;
		top: 20%;
		left: 60%;
		z-index: 2;
	}
	.slide .img5{
		width: 40%;
		height: 40%;
		top: 30%;
		left: 110%;
		z-index: 1;
	}
	.slide-bt{
		position: absolute;
		left: 50%;
		bottom: 13%;
		z-index: 10;
	}
	.slide-bt span{
		width: 24px;
		height: 8px;
		background: #c9caca;
		float: left;
		margin: 5px;
		border-radius: 4px;
	}
	.slide .slide-bt .on{
		background: #ffd200;
	}
	.date-wrap button{
		width: 25%;
		height: 60%;
		border: 0;
		outline: none;
		/*background-color: transparent;*/
		background-color: red;
		opacity: 0.6;
	}
	.date-wrap button.sy{
		position: absolute;
		left: 5%;
		top: 20%;
		z-index: 100;
	}
	.date-wrap button.xy{
		position: absolute;
		right: 5%;
		top: 20%;
		z-index: 100;
	}

	.date-wrap .l,.r{
		width: 5%;
		height: 0.2rem;
		position: absolute;
		top: 50%;
		margin-top: -0.1rem;
		z-index: 10000;
	}
	.date-wrap .l{
		left: 0;
		background: url(../img/l.png);
		background-position: center;
		background-size: 160%;
	}
	.date-wrap .r{
		right: 0;
		background: url(../img/r.png);
		background-position: center;
		background-size: 160%;
	}

	.date-wrap .img p,h5{
		color: #fff;
		background-color: #75BA28;
		text-align: center;
		width: 100%;
		margin-top: 0;
	}
	.date-wrap .img p{
		font-size: 0.16rem;
		padding-top: 0.08rem;
	}
	.date-wrap .img3 h5{
		font-size: 0.2rem;
		padding-bottom: 0.08rem;
	}
	.date-wrap .img3 h3{
		font-size: 0.6rem;
		color: #333;
		text-align: center;
	}